*{
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   padding-bottom: 10px;

    margin: 0;
}
.container{
    height: 50px;
    width: 98%;
    background-color:black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}
#app{
    padding-bottom: 10px;
}
#sub{
    text-align: left;
}
